<div class="sidebar-section">
    <ul class="nav flex-column">
        <li class="nav-item active"><a class="nav-link" href="#" routerLink="/data"><span></span><span>Home</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#" routerLink="/mentor"><span></span><span>Mentor</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#" routerLink="/pie-chart"><span></span><span>Pie-Chart</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#" routerLink="/charts"><span></span><span>Chart</span></a></li>
    </ul>
</div>
