<div class="card-content d-flex flex-column flex-sm-row align-items-center justify-content-around m-3">
    <div class="position-relative chart">
        <google-chart [type]="chartType" [data]="chartData" [options]="chartOptions"></google-chart>
        <div class="total-leave d-flex flex-column align-items-center ">
            <!-- <span class="text-muted fs-6">Total Leave</span>
            <span class="fs-3">20</span> -->
        </div>
    </div>
</div>

<!-- column chart -->
<!-- using service -->
<div class="" style="width: 550px;">
    <div class="d-flex justify-content-between">
        <div class="ps-4">Patient Visited</div>
        <div class="">
            <select name="week" id="1">
                <option value="1">This Week</option>
                <option value="2">Last Week</option>
            </select>
        </div>
    </div>
    <div>
        <google-chart 
            [type]="type"
            [data]="data"
            [options]="options"
            [width]="width"
            [height]="height">
        </google-chart>
    </div>
   
</div>

<!--start: using directive -->
<div>
    <google-chart appColumnChart
            [type]="type"
            [data]="data"
            [options]="options"
           >
    </google-chart>
</div>
