<!-- <p>Interpolation : </p>
<h1>hii shreya</h1>
<h3>Hello!! My Name is {{myName}}</h3>

<h4>My app is {{myfun ? "Online" : "offline"}}</h4>
<h4>{{myMethod()}}</h4>

<p>Property-binding : </p>
<h4><input type="text" [value]="myName"> </h4>

<div class="piechart"></div> -->

<div class="userProfile">
    <div class="row">
        <div class="col-8">
            <figure class="mb-0 rounded-circle">
                <img src="../../../../assets/images/default_avatar.png" alt="" class="w-25">
            </figure>

            <div class="">
                <h4>Medicare Pharmacy</h4>
                <h5>+91 9998887776</h5>
            </div>
        </div>

        <div class="col-4">
            <div>
                <button type="button" class="btn btn-primary">
                    <span class=""></span>
                    <span>Edit Profile</span>
                </button>
            </div>
        </div>
    </div>
</div>