<!-- <p>Interpolation : </p>
<h1>hii shreya</h1>
<h3>Hello!! My Name is {{myName}}</h3>

<h4>My app is {{myfun ? "Online" : "offline"}}</h4>
<h4>{{myMethod()}}</h4>

<p>Property-binding : </p>
<h4><input type="text" [value]="myName"> </h4>

<div class="piechart"></div> -->

<div class="userProfile">
    <!-- Start: Profile-info -->
    <div class="row profile-info border-bottom">
        <div class="col-12 col-sm-8 d-flex flex-column flex-sm-row align-items-center">
            <figure class="d-flex flex-shrink-0 mb-0 me-sm-4 me-lg-5 rounded-circle overflow-hidden image-container">
                <img src="../../../../assets/images/default_avatar.png" alt="User">
            </figure>

            <div class="">
                <h3 class="text-primary">Medicare Pharmacy</h3>
                <p class="text-info">+91 9998887776</p>
            </div>
        </div>

        <div class="col-12 col-sm-4 d-flex align-items-center justify-content-center justify-content-sm-end">
            <button type="button" class="btn btn-primary px-5 ">
                <span class="icon-edit"></span>
                <span>Edit Profile</span>
            </button>
        </div>
    </div>
    <!-- End: Profile-info -->

    <!-- Start: Profile-Detail -->
    <div class="row profile-detail">
        <!-- Start: Personal-Detail -->
        <div class="col-8">
            <div class="row pb-4 pb-4">
                <div class="col-4">
                    <span class="text-info">Email</span>
                </div>
                <div class="col-8">
                    <span class="text-primary fw-bold">medicarepharmacy@gmail.com</span>
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-4">
                    <span class="text-info">Date of Establishment</span>
                </div>
                <div class="col-8">
                    <span class="text-primary fw-bold">23 APril 2012</span>
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-4">
                    <span class="text-info">Address</span>
                </div>
                <div class="col-8">
                    <span class="text-primary fw-bold">123, Adjhgjhjk djhsdjg, Nr ahhsd smdbdbj dhjgsjd, jdjhgsj</span>
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-4">
                    <span class="text-info">State</span>
                </div>
                <div class="col-8">
                    <span class="text-primary fw-bold">Gujarat</span>
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-4">
                    <span class="text-info">City</span>
                </div>
                <div class="col-8">
                    <span class="text-primary fw-bold">Surat</span>
                </div>
            </div>
        </div>
        <!-- End: Personal-Detail -->

        <!-- Start: Certificates -->
        <div class="col-4">
            <p class="text-info">Certificate of Pharmacy</p>
            <div class="rounded bg-warning w-75 p-2 mb-5">
                <a class="text-decoration-none text-primary">
                    <span></span>
                    <span class="">MedicarePharmacy.jpg</span>
                </a>
            </div>

            <p class="text-info">Certificate of Pharmacist</p>
            <div class="rounded bg-warning w-75 p-2">
                <a class="text-decoration-none text-primary">
                    <span></span>
                    <span class="">MedicarePharmacy.jpg</span>
                </a>
            </div>
        </div>
        <!-- End: Certificates -->

    </div>
    <!-- End: Profile-Detail -->

</div>