// start: user-profile
.profile-info,
.profile-detail {
    padding: 2rem 6rem;
}

.image-container {
    height: 120px;
    width: 120px;
    border: 3px solid $image-outline;

    @include media-breakpoint-down(md) {
        height: 100px;
        width: 100px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// end: user-profile

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.width-50 {
    width: 50%;
}

.ml-auto {
    margin-left: auto;
}

.text-center {
    text-align: center;
}

// progress-bar 
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    background-color: #dcdcdc;
    z-index: -1;
}

.progressbar::after {
    .progress {
        width: 100%;
    }
}

.progress {
    // background-color: var(--primary-color);
    // width: 0%;
    transition: 0.3s;
    background-color: #666;
}

.progress::after {
    width: 30%;
}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {

    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}

.progress-step-active {
    // background-color: var(--primary-color);
    color: #e92a2a;
}


// form
.form {
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
}

.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

.form-step-active {
    display: block;
}

.input-group {
    margin: 2rem 0;
}